@font-face{
	font-family: bigjohn;
	src:url("font/BIGJOHN.otf");
}

@font-face{
	font-family: Adele;
	src:url("font/adele-light-webfont.ttf");

}
@font-face{
	font-family: Dongq;
	src:url("font/Dongq.otf");

}
*{
	color:white;
	padding: 0;
	margin:0;
}
body{
	background-color:#191919;
	font-family: "Dongq",Arial,"微软雅黑","宋体";
	font-size: 16px;
	font-weight: lighter;

}
/*#maintain{
	width: 1200px;
	margin: 0 auto;
}*/
header{
	background-color:black;
	width: 100%;
	height: 70px;
	text-decoration: none;

}
nav 
	{
		list-style-type:none;
		overflow:hidden;
	}
li
	{
		float:right;		
	}
nav a{		
		display:block;
		border-radius: 5px;
		margin:10px 10px;
		line-height: 50px;
		height: 50px;
		width:130px;
		font-weight:bold;
		background-color:#191919;
		text-align:center;
		text-decoration:none;
/*		text-transform:uppercase;*/
	}


#content{

	width:1200px;
	margin:10px auto;

}

#banner{
	background-color: #2f2f31;
	width: 1000px;
	height: 350px;
	margin:20px auto;
	margin-bottom: 10px;
	border-radius: 5px;
	border-style: solid;
	border-color:#2f2f31;
	border-width: 5px; 

}



#searchText{
	background-color:#0f0f0f;
	margin:0 auto;
	height: 50px;
margin-bottom: 10px;
	width: 1000px;
	border-style: solid;
	border-color:#0f0f0f;
	border-radius: 5px;
	border-width:5px;
}

#button{
	float:right;
	width: 130px;
	height:50px;
	line-height: 50px;
	background-color: black;
	text-align: center;
	border-radius: 5px;

}
#button a{
	text-decoration:none;	
}
#search{
	width: 700px;
	float: left;
}

input{
	font-size: 16px;
	text-indent: 20px;
	width: 860px;
	height:50px;
	background-color:rgba(0,0,0,0.2);
	border-style: none;
}

#footer1{
	clear:both;
	background-color:#2f2f31 ;
	height:400px;
	width: 100%;
}

#tain{
	width:1200px;
	height: 400px;
	margin:0 auto;
	margin-top: 20px;
}
#b1,#b2,#b3,#b4{
	float:left;
	width: 273px;
	height:335px;
	background-color: #242427;
	margin-left:20px;
	margin-top: 30px;
/*	float:left;*/
}

footer{

	height: 180px;
	background-color: #111111;

}

.cont{
	background-color: #2f2f30;
	width:1000px;
	height:500px;
	margin:10px auto;
}
.cont1{
	background-color:rgba(0,0,0,0.5);
	width: 300px;
	height:450px;
	float:left;
	margin-left: 5px;
	margin-top: 5px;
	position:absolute;
	z-index:3;

}

.cont2{
	background-color: orange;
	width: 700px;
	height:400px;
	
	margin-top: 5px;
	margin-right: 5px;
/*	position:absolute;
	z-index:2;*/
float: right;
}

/*.cont3{
	background-color: blue;
	width: 900px;
	height: 80px;
	clear: both;
	margin-top: 20px;
	margin-left: 5px;

}*/

.tubiao{
	float: left;
	margin-left:10px;
}

.styleP1{
	font-size: 15px;
	text-indent: 20px;
	line-height: 40px;
	letter-spacing:7px;
}
.styleP2{
	margin-top:20px;
	margin-left: 20px;
	font-size: 80px;
}

.styleP3{
	margin-top: 20px;
	font-size: 15px;
	margin-left:20px;
	margin-right:20px;
	line-height:22px;

}

.bigimg{
	float:right;
}
.weatherimg{
	line-height: 80px;
	margin-top: 20px;
	margin-left:20px;
	float: left;
}



